/* Get a cool background */
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("img/road_scaled.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*  background-image: url("../../img/road.jpg") no-repeat center center fixed;
  background-position: center-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 755px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-radius:0px; /*This is not working*/
  border-bottom: 1px solid #e5e5e5;
  opacity: 0.5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.definitionText{
  font-size: 2em;
  font-weight: bolder;
}
.sentenceText{
  font-size: 1.75em;
  font-style: italic;
}

/*Sticky footer*/

.footer {
  position: absolute;
  bottom: 0;
  width: inherit;
  /* Set the fixed height of the footer here */
  height: 135px;
  background-color: #f5f5f5;
  opacity: 0.8;
}
.ad {
  position: absolute;
  bottom: 100px;
  width: inherit;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}